* {
	margin: 0px;
	padding: 0px;
}

body {
	background: url(../img/hojas.jpg);
	background-attachment: fixed;
}

#global {
	width: 90%;
	margin: 0px auto;
	margin-top: 20px;
	padding: 20px;
	background: white;
	box-shadow: 0px 0px 20px gray;
}

#logo {
	 font-family: Verdana, Arial;
	 text-transform: uppercase;
	 font-size: 30px;
	 letter-spacing: 4px;
	 background: #235E3D;
	 color: white;
	 text-align: center;
	 width: auto;
	 height: 80px;
	 margin-bottom: 20px;
	 line-height: 75px;
}

#menu {
	font-family: Helvetica, Arial;
	width: 100%;
	text-transform: uppercase;
	background: #333;
	margin-bottom: 20px;
}

#menu ul {
	text-align: right;
	line-height: 46px;
	list-style: none;
}

#menu ul li {
	height: 46px;
	display: inline-block;
	transition: all 300ms;
}

#menu ul li:hover {
	background: #235E3D;
}

#menu a {
	display: block;
	color: white;
	text-decoration: none;
	padding-left: 30px;
	padding-right: 30px;
}
